@import "src/scss/mixins";

.root {
  width: 100%;
  padding: 12px 24px 12px 24px;
  border: 1px solid #181e25;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    background: none;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    color: get-color(inactive, base);

    width: 30%;

    &::placeholder {
      font-size: 32px;
      font-weight: 400;
      line-height: 42px;
      color: get-color(inactive, base);
      opacity: 0.5;
    }
  }

  &__token {
    border: 1px solid #181e25;
    border-radius: 16px;
    padding: 20px 16px 20px 24px;

    &__image {
      margin-right: 10px;
    }

    &__text {
      margin-right: 20px;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
  }
}

.modal {
  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    // background-color: red;
    height: calc(100vh - 90px);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    background-color: get-color(background, base);

    &.active {
      transition: all 0.2s ease-in-out;
      visibility: visible;
      opacity: 1;
    }
  }

  &__close {
    cursor: pointer;

    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      transition: opacity 0.2s ease-in-out;
      opacity: 0.6;
    }
  }

  padding: 31px;
  width: 512px;
  // height: 700px;
  background-color: get-color(background, base);
  border: 1px solid #4f4f4f;
  border-radius: 16px;
  z-index: 10;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  &__overflow {
    max-height: 400px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__search {
    background: none;
    padding: 16px;
    border: 1px #4f4f4f solid;
    margin: 12px 0;
    width: 100%;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    color: #6a84a0;

    &::placeholder {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: #6a84a0;
      opacity: 0.7;
    }
  }

  &__item {
    margin-bottom: 10px;
    width: 100%;
    padding: 16px;
    border: 1px solid get-color(background, base);
    border-radius: 16px;
    transition: border 0.1s ease;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;

    &:hover {
      border: 1px solid #4f4f4f;
    }

    &__info {
      padding: 0 10px;
    }
  }
}
