@import "src/scss/variables";

@font-face {
  font-family: $sl-font-family;
  src: url("/fonts/Oxanium-Regular.woff") format("woff"),
    url("/fonts/Oxanium-Regular.ttf") format("ttf"),
    url("/fonts/Oxanium-Regular.eof") format("eof");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: $sl-font-family;
  src: url("/fonts/Oxanium-Medium.woff") format("woff"),
    url("/fonts/Oxanium-Medium.ttf") format("ttf"),
    url("/fonts/Oxanium-Medium.eof") format("eof");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: $sl-font-family;
  src: url("/fonts/Oxanium-Bold.woff") format("woff"),
    url("/fonts/Oxanium-Bold.ttf") format("ttf"),
    url("/fonts/Oxanium-Bold.eof") format("eof");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: $sl-font-family;
  src: url("/fonts/Oxanium-ExtraBold.woff") format("woff"),
    url("/fonts/Oxanium-ExtraBold.ttf") format("ttf"),
    url("/fonts/Oxanium-ExtraBold.eof") format("eof");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: $sl-font-family;
  src: url("/fonts/Oxanium-SemiBold.woff") format("woff"),
    url("/fonts/Oxanium-SemiBold.ttf") format("ttf"),
    url("/fonts/Oxanium-SemiBold.eof") format("eof");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
