$sl-font-family: "Oxanium";

$sl-containers: (
  mobile: calc(100% - 32px),
  tablet: calc(100% - 48px),
  desktop: 1264px,
);

$sl-breakpoints: (
  desktop: 1300px,
  tablet: 768px,
  mobile: 320px,
);

$sl-colors: (
  paragraph: (
    base: #ffffff,
  ),
  background: (
    base: #5733f6,
  ),
  accent: (
    base: #5205cf,
  ),
  secondary: (
    base: #5917ae,
  ),
  hover: (
    base: #a1a1a1,
  ),
);

$sl-transition-time: 0.2s;
